
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chatroom</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            let socket = io.connect();
            let username = prompt("Enter Your Nickname: ");
            socket.emit("enter_new_chatter", username);
            $("form").submit((a)=>{
                a.preventDefault();
                let formdata = $("form").serializeArray();
                console.log(formdata);
                socket.emit("new_letter", formdata);
            });
            socket.on("new_chatter", (data)=>{
                $("#chatbox").append("<p class='yellow'>"+data+" has joined your the channel</p>");
            });
            socket.on("good_letter", (data)=>{
                $("#chatbox").append("<p class='white'><span>"+data.name+"</span></class>: "+data.letter+"</p>");
            });
            socket.on("message_error", (data)=>{
                $("#chatbox").append("<p class='yellow'>"+data.error+"</p>");
            });
            socket.on("welcome", (data)=>{
                $("#chatbox").append("<p class='yellow'>Welcome "+data+" to the channel</p>");
            });
            socket.on('existing_letter', function(data){
                for(i in data)
                    $("#chatbox").append("<p>"+data[i].name+": "+data[i].letter+"</p>");
                elem.scrollTop = elem.scrollHeight;
            });
        });
    </script>
    <style>
    #wrapper{
        width: 100%;
    }

    #chatbox{
        background: black;
        overflow: scroll;
        height: 400px;
    }
    #chatroom{
        display: block;
        width: 100%;
        height: 100%;
    }
    form{
        width:100%;
    }
    textarea{
        width: 80%;
    }
    #send{
        display: inline-block;
        width: 10%;
        vertical-align: top;
    }
    input{
        height: 35px;
    }
    .yellow{
        color: yellow;
    }
    .white{
        color: white;
    }
    span{
        color: yellow;
    }
    textarea{
        resize: none;
        overflow: scroll;
    }
    </style>
</head>
<body>
	<div id="wrapper">
		<h1>Conversation Board</h1>
		<hr>
		<div id="chatroom">
			<div id="chatbox">	
			</div>
			<hr>
			<form>
				<textarea name="message"></textarea>
				<div id="send">
					<input type="submit" value="Send">
				</div>
			</form>
		</div>
	</div>
</body>
</html>