<html>
  <head>
    <!-- <link rel="stylesheet" href="/static/css/styles.css" type="text/css"> -->
  </head>
  <body>
    <p style="text-decoration: underline;font-weight: bold;">Submitted Information:</p>
    
    <p>Name: <%= name %></p>
    <p>Dojo Location: <%= dojo %></p>
    <p>Favorite Language: <%= lang %></p>
    <p>Comment: <%= comment %></p><br><br>
    <form action='/'><input type="submit" value="Go Back"></input></form>
  </body>
  
</html>