<div id="wrapper">
  <div style="text-align:center">
    <h1>
      Restful Tasks API
    </h1>
    <div class="root">  <!-- tip: use css to place a border around your different components to better visualize them -->
      <!-- <h1>Welcome to {{ title }}!</h1>
      <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>   -->
  </div>
  </div>
  <input type="text" (keyup)="onNewTaskKey($event)">
  <button (click)="getTaskFromService()">Get task by id</button>

  <ul>
    <li *ngIf="task">
      {{task.title}} - {{task.description}}
    </li>
  </ul>

  <form (submit)="onNewTaskSubmit()">
    Title:
    <input type="text" name="newTask.title" [value]="newTask.title" /> Description:
    <input type="text" name="newTask.description" [value]="newTask.description" />
    <input type="submit" value="Create Task" />
  </form>

  <form *ngIf="editTask._id" (submit)="onEditTaskSubmit()">
    Title:
    <input type="text" name="editTask.title" [value]="editTask.title" /> Description:
    <input type="text" name="editTask.description" [value]="editTask.description" />
    <input type="submit" value="Edit Task" />
  </form> 

  <h2>Task List </h2>
  <div *ngFor="let task of tasks" class="task">
    <h3>{{task.title}}</h3>
    <p>{{task.description}}</p>
    <button (click)="onEditTask(task._id, task.title, task.description)">Edit</button>
    <button (click)="onDeleteTask(task._id)">Delete</button>
  </div>
</div>
