/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
}

header, footer{
    height: 10vh;
    background-color: red;
}

header{
    font-size: 2em;
}


