<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
  {{ title }}!
  </h1>    
 Create -->
    <!-- <form (submit)="onSubmit()" class="postForm">
      <p>{{newTask | json}}</p>
      <label>Task title:
        <input type="text" name="newTask.title" [(ngModel)]="newTask.title"/>
      </label>
      <label>Task description:
          <input type="text" name="newTask.description" [(ngModel)]="newTask.description"/>
      </label>
      <input type="submit" value="Create Task"/>
    </form> -->
  <!-- Read -->
  <!-- <div style="border: 1px solid black">
    <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task> 
    <button (click)="onButtonClick()">All the Tasks</button>
    <div *ngFor="let task of tasks; let idx = index">
      <p>{{ task.title }}</p>
      <button (click)="info(idx)">SHOW</button>
    </div>
    <hr>
    <div>
      <p>{{ task?.title }}</p>
      <p>{{ task?.description }}</p>
      <button (click)="editTask(task)">EDIT</button>
      <button (click)="delete(task)">DELETE</button>
    </div>    
  </div> -->
  <!-- Update -->
  <!-- <div *ngIf = "edit">
      <h2>Edit a Task</h2>
      <p>{{editTask | json}}</p>
      <form (submit)="editSubmit(task._id)">
        <p>Title:
          <input type="text" name="edit.title" [(ngModel)]="edit.title" />
        </p>
        <p>Description:
          <input type="text" name="edit.description" [(ngModel)]="edit.description" />
          <input type="submit" value="Edit" />
        </p>
      </form>
    </div>

  </div>  -->
  <div style="text-align:center">
    <h1>Restful Tasks CRUD</h1>
    <div>
      <h3>New Task</h3>
      <form (submit)="onSubmit()">
        <p>{{ newTask | json }}</p>
        title: <input [(ngModel)]="newTask.title" name="newTask.title" type="text" /><br>
        Description: <input [(ngModel)]="newTask.description" name="newTask.description" type="text"/><br>
        <input type="submit" value="Create Task">
      </form>
    </div>
  
  
    <div>
      <h1>Show all Tasks</h1>
      <button (click)="onbtnShowAll()">Get All Tasks</button>
      <div *ngIf="tasks">
        <div *ngFor="let task of tasks">
          <p>{{task.title}}</p>
          <p>{{task.description}}</p>
          <button (click)="onbtnEdit(task)">Edit</button>
          <button (click)="onbtnDelete(task._id)">Delete</button>
        </div>
        <div *ngIf = "selectedTask">
          <!-- <p>{{selectedTask | json }}</p> -->
          <form (submit)="onbtnUpdate(selectedTask)">
            Title: <input [(ngModel)]="selectedTask.title" name="selectedTask.title" type="text"/><br>
            Description: <input [(ngModel)]="selectedTask.description" name="selectedTask.description" type="text" /><br>
            <input type="submit" value="update" />
          </form>
        </div>
      </div>
    </div>
  
    
    <!------- This section is Restful Tasks Interactive assignment ----->
    
    <h1>Restful Tasks Interactive</h1>
    <button (click)="onbtnShowAll()">Get All Tasks</button>
      <div *ngIf="tasks">
        <div *ngFor="let task of tasks">
          <p>{{task.title}} <button (click)="onbtnShowDesc(task._id)">Show Desc!</button></p>
        </div>
      </div>
      <div *ngIf='mytask'>
        <p>---------------- display info -------------------</p>
        <p>{{mytask.title}}</p>
        <p>{{mytask.description}}</p>
        <p>---------------------------------------------------</p>
      </div>
  
    <!----------- End Restful Tasks Interactive section --------------->
  
  </div>



<!-- <router-outlet></router-outlet> -->
