<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST"><button>Home</button></form>
    <div>
        <h1>Fluffy</h1>
        <a href="/fluffy">
            <img src="cat1.jpg" alt="see more" > 
        </a>
    </div>
    <div>
        <h1>Jinx</h1>
        <a href="/jinx">
            <img src="cat2.jpg" alt="">
        </a>
    </div>
    <div>
        <h1>Cuddles</h1>
        <a href="/cuddles">
            <img src="cat3.png" alt="">
        </a>
    </div>
    <div>
        <h1>Spaz</h1> 
        <a href="/spaz">
            <img src="cat4.jpg" alt="">
        </a>
    </div>

</body>
</html>