<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <% for (var x in cats) { %>
        <%= cats[x].img %>
        <h3>name: <%= cats[x].name %></h3>
        <h3>food: <%= cats[x].food %></h3>
        <h4>age: <%= cats[x].age %></h4>
        <hr>
    <% } %>
</body>
</html>