*{
    margin: 0 auto;
}
.container {
    padding: 15px;
    background-color: lightgray;
}

.content {
    width: 80%;
    height: 100%;
    border: solid 1px black;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

.first{
    padding-left: 10%;
}

div{
    margin-top: 6%;
    margin-bottom: 8%;
}